.card {
    pointer-events: auto;
    margin: 5px;
}

.card-selected {
    border: 5px solid blue !important;
}

.card-can-be-played {
    border: 5px solid green;
}

.mouse-over-card {
    transform: rotate(15deg);
}

.card-dragged-over {
    border: 5px solid yellow !important;
}

.card img {
    pointer-events: none !important;
}