.menu {
    position: absolute;
    width: 15%;
    border: 1px solid black;
}

.btn-start-game {
    margin-top: 25%;
    margin-bottom: 10px;
    width: 80%;
    font-size: 25px;
}

.btn-join-game {
    margin-top: 25%;
    margin-bottom: 10px;
    width: 80%;
    font-size: 25px;
}